<div *ngIf="loading">
    <div class="lds-dual-ring"></div>
</div>

<div class="row" *ngIf="!loading">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div> {{ sTitulo }} </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="formEdit" (ngSubmit)="submitForm()">
                    <!-- TITLE -->
                    <div class="form-group">
                        <label>{{'edit-movie.form.title' | translate }}</label>
                        <input nbInput fullWidth type="text" class="form-control" formControlName="title"
                            placeholder="{{'edit-movie.form.title' | translate }}"
                            [status]="formEdit.controls.title.dirty ? (formEdit.controls.title.invalid ? 'danger' : 'success') : ''">
                        <div class="error" *ngIf="formEdit.controls.title.invalid && formEdit.controls.title.dirty">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>{{ validation_messages.title[0].message }}</span>
                        </div>
                    </div>

                    <!-- POSTER -->
                    <div class="form-group">
                        <label>{{'edit-movie.form.poster' | translate }}</label>
                        <input nbInput fullWidth type="text" class="form-control" formControlName="poster"
                            placeholder="{{'edit-movie.form.poster' | translate }}">
                    </div>

                    <!-- GENRE -->
                    <div class="form-group">
                        <label>{{'edit-movie.form.genre' | translate }}</label>
                        <nb-select multiple fullWidth placeholder="{{'edit-movie.form.genre' | translate }}"
                            formControlName="genre">
                            <nb-option *ngFor="let g of genre" value="{{g}}">{{g}}
                            </nb-option>
                        </nb-select>
                    </div>

                    <!-- ACTORS -->
                    <div class="form-group">
                        <label>{{'edit-movie.form.actors' | translate }}</label>
                        <nb-select multiple fullWidth placeholder="{{'edit-movie.form.actors' | translate }}"
                            formControlName="actors">
                            <nb-option *ngFor="let a of actors" value="{{a.id}}">{{a.first_name}} {{a.last_name}}
                            </nb-option>
                        </nb-select>
                        <div class="error" *ngIf="formEdit.controls.actors.dirty && formEdit.controls.actors.invalid">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>{{ validation_messages.actors[0].message }}</span>
                        </div>
                    </div>

                    <!-- YEAR -->
                    <div class="form-group">
                        <label>{{'edit-movie.form.year' | translate }}</label>
                        <input nbInput fullWidth type="number" class="form-control" formControlName="year"
                            placeholder="{{'edit-movie.form.year' | translate }}"
                            [status]="formEdit.controls.year.dirty ? (formEdit.controls.year.invalid ? 'danger' : 'success') : ''">
                        <div class="error" *ngIf="formEdit.controls.year.invalid && formEdit.controls.year.dirty">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span *ngIf="formEdit.controls.year.errors?.required">
                                {{ validation_messages.year[0].message }}
                            </span>
                            <span *ngIf="formEdit.controls.year.errors?.max">
                                {{ validation_messages.year[1].message }}
                            </span>
                        </div>
                    </div>

                    <!-- DURATION -->
                    <div class="form-group">
                        <label>{{'edit-movie.form.duration' | translate }}</label>
                        <input nbInput fullWidth type="number" class="form-control" formControlName="duration"
                            placeholder="{{'edit-movie.form.duration' | translate }}"
                            [status]="formEdit.controls.duration.dirty ? (formEdit.controls.duration.invalid ? 'danger' : 'success') : ''">
                        <div class="error"
                            *ngIf="formEdit.controls.duration.invalid && formEdit.controls.duration.dirty">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span *ngIf="formEdit.controls.duration.errors?.required">
                                {{ validation_messages.duration[0].message }}
                            </span>
                            <span *ngIf="formEdit.controls.duration.errors?.min">
                                {{ validation_messages.duration[1].message }}
                            </span>
                        </div>
                    </div>

                    <!-- IMDBRATING -->
                    <div class="form-group">
                        <label>{{'edit-movie.form.imdbRating' | translate }}</label>
                        <input nbInput fullWidth type="number" class="form-control" formControlName="imdbRating"
                            placeholder="{{'edit-movie.form.imdbRating' | translate }}"
                            [status]="formEdit.controls.imdbRating.dirty ? (formEdit.controls.imdbRating.invalid ? 'danger' : 'success') : ''">
                        <div class="error"
                            *ngIf="formEdit.controls.imdbRating.invalid && formEdit.controls.imdbRating.dirty">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span *ngIf="formEdit.controls.imdbRating.errors?.required">
                                {{ validation_messages.imdbRating[0].message }}
                            </span>
                            <span *ngIf="formEdit.controls.imdbRating.errors?.min">
                                {{ validation_messages.imdbRating[1].message }}
                            </span>
                            <span *ngIf="formEdit.controls.imdbRating.errors?.max">
                                {{ validation_messages.imdbRating[2].message }}
                            </span>
                        </div>
                    </div>

                    <div class="row mt-3 mi-auto">
                        <button nbButton status="success" type="submit" [disabled]="!formEdit.valid">
                            {{'edit-movie.form.btn-save' | translate }}
                        </button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>