// Simbolo de cargando
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

nb-list-item {
    padding: 0%;
}

.floating {
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.td-none {
    text-decoration: none;
}

img {
    width: 60%;
}

.img-folder {
    width: 35% !important;
}

.justify-center {
    justify-content: center;
}
